*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --bgcolor: #1E1E1E
}

body{
  width: 100vw;
  height: 100vh;
  /* color: white; */
  background-color: var(--bgcolor);
  display: inline;
}

nav{
  width: 12vw;
  height: 100vh;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav .menu ul{
  width: 12vw;
  text-align: center;
  font-size: 1.5rem;
  list-style: none;
  background-color: var(--bgcolor);
}

nav .menu ul li{
  padding: 10px;
  border-bottom: 3px solid black;
}

nav .menu a:hover{
  color: aqua;
}

nav .menu a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav .logo{
  margin-top: 20px;
}

nav h1 {
  font-size: 3rem ;
}
nav h1 a{
  text-decoration: none;
  color: white;
}

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  width: 120px;
  background-color: yellowgreen;
  color: yellow;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  transform: translate(-70%,-100%);
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}